%ul.nav.pull-right
  - if current_user
    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.icon-signout
        Sign Out
  - else
    %li
      = link_to new_user_session_path do
        %i.icon-signin
        Sign In
    %li
      = link_to new_user_registration_path do
        Sign Up
